body {
    background: #fff;
    color: #333;
    font-family: "frutiger linotype", "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 13px;
}
a {
    color: 243282;
}

input, select {
    font-family: "frutiger linotype", "lucida grande", tahoma, verdana, arial, sans-serif;
    padding: 2px;
    min-height: 25px;
    margin: 0px;
}

input {
    width: 50%;
}

h1, h2, h3, h4 {
	font-weight: normal;
	margin-bottom: 5px;
}
h1 {
	background:#fff;
	color: #003d4c;
	font-size: 100%;
}
h2 {
	background:#fff;
	color: #e32;
	font-size: 190%;
}
h3 {
	color: #993;
	font-size: 165%;
}
h4 {
	color: #993;
	font-weight: normal;
}
ul, li {
	margin: 0 12px;
}

dl {
    margin-bottom: 5px;
    display: block;
}

dt {
    float: left;
    font-weight: bold;
    width: 200px;
    clear: both;

}

dd {
    float: left;
}

td, th {
    border-right: 1px solid #333;
    padding: 10px;
    border-bottom: 1px solid #333;
}

th {
    font-weight: bold;
}

select.multi-select {
    height: auto;
}
#content {
    width: 1000px;
    margin: 0px auto;
}
#container {
	text-align: left;
        padding-left: 20px;
        position: relative;
}

#header{
	padding: 10px 20px;
}

#header ul {
}

#header h1 {
	line-height:20px;
	background: #003d4c url('../img/cake.icon.png') no-repeat left;
	color: #fff;
	padding: 0px 30px;
}

.chatty {
    color: #E47911;
    font-weight: bold;
}

div.message {
    background: none;
    color: #E47911;
    font-weight: bold;
    padding: 5px;
}
div.message a {
    color: #E47911;
    text-decoration: none;
    font-size: 13px;
    background: 
}

a.teaser-button {
    font-size: 15px;
    background:#4ca83d;
    background: -webkit-gradient(linear, left top, left bottom, from(#cbd5bd), to(#68903a));
    background-image: -moz-linear-gradient(top, #85e573, #4ca83d);
    border: 1px inset #AFC596;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 8px 0px 10px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    text-align: center;
}

#teaser h5 {
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 5px;
}
.teaser-item {
    padding: 3px 0px; 
}

.teaser-heading {
    font-style: italic;
}

#header {
}

#header #logo {
    float: left;
}

#header #mast {
    float: right;
    margin-top: 25px;
}

#header #mast #logout {
    font-size: 11px;    
}
#header #nav-left {
    background: url('/hvms/img/header_bg_left.png') top left no-repeat;
    margin-top: 60px;
}

#header  #nav-right {
    margin-left: 20px;
    padding: 30px 5px;
    background: url('/hvms/img/header_bg_right.png') top right no-repeat;
}

#menu {
    margin: 0px;
    line-height: 2.5;
    width: 100%;
}
#menu li {
    list-style: none;
    float: left;
    margin: 0px 20px 0px 0px;
    padding: 0px 10px;
}

#menu li.selected {
    background: #fff;
}

#menu li a {
    text-decoration: none;
    font-weight: bold;
    color: #4f5054;
}

.sub-header h2 {
    float: left;
}

.sub-header .sub-menu {
    float: left;
    padding: 12px;
}

.sub-header .sub-menu a {
    font-weight: bold;
}

/* form css */
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form .input {
	color: #444;
}
form .required {
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	font-size: 110%;
	margin-bottom:3px;
       	font-weight: bold;
        margin-right: 10px;
        display: inline-block;
        width: 200px;
        float: left;
}
input, textarea {
	clear: both;
	width: 200px;
}

option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	width: auto;
}
form .submit input[type=submit] {
	/*
        background:#62af56;
	background: -webkit-gradient(linear, left top, left bottom, from(#cbd5bd), to(#699a2d));
	background-image: -moz-linear-gradient(top, #cbd5bd, #699a2d);
        */
	text-shadow: #8cee7c 0px 1px 0px;
        font-weight: bold;
        padding: 2px 5px;
        color: #333;
}
form .submit input[type=submit]:hover {
	background:#4ca83d;
	background: -webkit-gradient(linear, left top, left bottom, from(#cbd5bd), to(#68903a));
	background-image: -moz-linear-gradient(top, #85e573, #4ca83d);
}

.hint {
    color: #666;
    font-style: italic;
    padding-left: 5px;
}

form .error {
    color: #e02d2d;
    font-style: italic;
}

input.error {
    border: 1px solid #e02d2d;
}
label.error {
    padding-left: 20px;
    font-weight: normal;
}

form .downloadlink {
    padding-right: 10px;
}
/* end form css */

/* common to both jobs and profiles */
.posting-badge {
    position: absolute;
    right: -40px;
    top: -10px;
}

/* skills formatting */
.skillbox {
    display: inline-block;
    overflow: hidden;
}

.skillbox fieldset {
    width: 520px;
}
.skillbox legend {
    background: #eee;
    padding: 3px 0px 3px 5px;
    text-decoration: underline;
    margin-bottom: 5px;
    width: 100%;
    font-weight: bold;
}

.skillbox .vendor,
.skillbox .module {
    cursor: pointer;
}
.skillbox .vendor {
    margin-bottom: 10px;
}

.skillbox .vendor legend{
}

.skillbox .module legend{
    padding-left: 20px;
}


.skillbox .skill {
    width: auto;
    clear: none;
    margin: 0px;
}

.skillbox label {
    font-weight: normal;
    font-size: 13px;
    width: auto;
}

/* jobs formatting */
.job {
    width: 600px;
    border: 1px solid #eee;
    padding: 10px 30px 10px 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    position: relative;
}

.job h5 {
    display: inline;
    padding-right: 5px;
}

.job h5.list {
    display: block;
    float: left;
    width: 130px;
}

.job .title {
    font-weight: bold;
    float: left;
    padding-right: 10px;
}

.job .location {
    float: left;
}

.job .description {
    clear: both;
    font-style: italic;
    line-height: 1;
    margin: 5px 0px;
}
.job .timeframe {
    display: inline;
}

.job div.schedule,
.job div.job-type {
    padding-left: 135px;
}

.job .role {
    display: inline;
}

.job div.skills {
    padding-left: 140px;    
}


.job .publish {
    font-style: italic;   
}

/* profile */
.profile {
    width: 600px;
    border: 1px solid #eee;
    padding: 10px 30px 10px 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    position: relative;
}

.profile h5 {
    display: inline;
    padding-right: 5px;
}
.profile .title {
    font-weight: bold;
    float: left;
    padding-right: 5px;
}
.profile .tagline,
.profile .blurb {
    font-style: italic;
    line-height: 1;
    margin: 5px 0px;
    clear: both;
}

.profile .location {
    float: left;
}

.profile .startavailability {
    clear: left;
    float: left;
    padding-right: 10px;
}

.profile .relocate {
    float: left;
}

.profile .role {
    display: inline;
}

.profile .skills {
    padding-left: 100px;    
}

.profile-view {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 450px;
}

.profile-view .profile {
    width: 400px;
}
/* search styles */

#left-nav {
    width: 250px;
    border-right: 1px inset #eee;
    float: left;
}
#left-nav .skillbox fieldset {
    width: 230px;
}

#left-nav .skillbox label {
    padding: 2px 0px 10px 0px;
    display: block;
    margin-left: 25px;
}

#left-nav .skill {
    padding: 5px 0px 0px 0px;
    margin: 0px;
}
#right-content {
    margin-left: 300px;
}

.flagged {
    background: url('../img/interested_note.png') no-repeat 100% 50%;
}

.interest-link,
.undo-interest-link {
    font-size: 11px;
    font-weight: bold;
    text-align: right;
}

#left-nav .interested input[type="checkbox"] {
    margin-top: -4px;
}

/* home page */
#home #value-prop,
#home #teaser,
#home #get-user {
    float: left;
    border: 2px outset #afc596;
    padding: 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-right: 15px;   
}

#home #value-prop {
    width: 200px;
}

#home #teaser {
    width: 500px;
}

#home #get-user {
    width: 150px;
}

/* jquery ui overrides */
.ui-autocomplete {
    background: white;
    list-style: none;
    cursor: pointer;
    width: 180px;
    border: 1px solid #ccc;
}

.ui-autocomplete li {
    margin: 0px;
    padding-left: 10px;
}
.ui-autocomplete li:hover{
    background: #ccc;
    color: #eee;
}